@font-face {
  font-family: Insanibu;
  src: url(./fonts/Insanibu.ttf);
}
body {
  background-color: #050607;
}
.primary-text {
  color: #dadada;
  font-size: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  background-color: #21252b;
  width: calc(100% - 16px);
  min-width: 900px;
  min-height: calc(100vh - 16px);
  margin: 8px;
  border-radius: 5px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}
.heading {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #525a6b;
}
.score {
  display: flex;
  font-size: 28px;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  white-space: nowrap;
}
.reset-button {
  background-color: #528bff;
  border: 0;
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 10px;
  color: azure;
  font-size: 10px;
  line-height: 24px;
  transition: all 0.5s;
}
.reset-button:hover {
  background-color: #3578ff;
}
.player-content {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border-right: 1px solid #525a6b; */
  width: 50%;
}
.player-content:last-child {
  border: none;
}
.gametable-container {
  background-color: #282c34;
  padding: 20px;
  border-radius: 5px;
  border: 1px #2e323b solid;
  margin-top: 20px;
}
.gametable-row {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #525a6b;
}
.status {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.gametable-item {
  width: 100px;
  height: 100px;
  color: #78a5ff;
  font-weight: 1000;
  border: none;
  border-right: 2px solid #525a6b;
  background: transparent;
  line-height: 100px;
  text-align: center;
  font-family: Insanibu, Courier, "Courier New", monospace;
  font-size: 96px;
  transition: all 0.5s;
}
.gametable-item:hover {
  background-color: #464f5f;
  cursor: pointer;
}
button:disabled:hover {
  background-color: transparent;
  cursor: default;
}

.gametable-item:last-child {
  border-right: none;
}

.gametable-row:last-child {
  border-bottom: none;
}

.chat {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 32, 37);
  border-radius: 10px;
  border: 1px #2e323b solid;
  width: 400px;
  margin-top: 20px;
  color: white;
}
.chat-header {
  display: flex;
  width: 100%;
  align-items: center;
}
.chat-icon {
  font-family: Insanibu;
  color: #528bff;
  width: 30px;
  font-size: 20px;
  background-color: #353b47;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  border: 1px #4e5666 solid;
  margin: 8px;
}
.chat-body {
  display: flex;
  flex-direction: column;
  background-color: #353b47;
  border-radius: 0 0 10px 10px;
  border-radius: 5px;
}
.chat-messages-section {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}
.chat-input-section {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #464f5f;
  border: 1px #4e5666 solid;
}
.chat-input {
  font-size: 20px;
  width: 300px;
  background-color: transparent;
  border: none;
  color: #dadada;
}
.chat-input::placeholder {
  color: #6d798f;
}
.chat-input:focus {
  outline: none;
}
.chat-send-btn {
  color: #dadada;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.chat-outcoming-message {
  background-color: #528bff;
  max-width: 250px;
  font-size: 18px;
  padding: 3px 10px;
  margin-top: 10px;
  margin-right: 10px;
  align-self: flex-end;
  border-radius: 10px;
}
.chat-message-time {
  font-size: 12px;
  text-align: end;
}
.chat-incoming-message {
  background-color: #464f5f;
  max-width: 250px;
  font-size: 18px;
  padding: 3px 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  align-self: flex-start;
}
